@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Hairline.eot');
  src: url('/static/fonts/Montserrat/Montserrat-Hairline.woff') format('woff'), url('/static/fonts/Montserrat/Montserrat-Hairline.ttf') format('truetype'), url('/static/fonts/Montserrat/Montserrat-Hairline.svg#Montserrat') format('svg'), url('/static/fonts/Montserrat/Montserrat-Hairline.eot?#iefix') format('embedded-opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Light.eot');
  src: url('/static/fonts/Montserrat/Montserrat-Light.woff') format('woff'), url('/static/fonts/Montserrat/Montserrat-Light.ttf') format('truetype'), url('/static/fonts/Montserrat/Montserrat-Light.svg#Montserrat') format('svg'), url('/static/fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Regular.eot');
  src: url('/static/fonts/Montserrat/Montserrat-Regular.woff') format('woff'), url('/static/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), url('/static/fonts/Montserrat/Montserrat-Regular.svg#Montserrat') format('svg'), url('/static/fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Bold.eot');
  src: url('/static/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), url('/static/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), url('/static/fonts/Montserrat/Montserrat-Bold.svg#Montserrat') format('svg'), url('/static/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/static/fonts/Montserrat/Montserrat-Black.eot');
  src: url('/static/fonts/Montserrat/Montserrat-Black.woff') format('woff'), url('/static/fonts/Montserrat/Montserrat-Black.ttf') format('truetype'), url('/static/fonts/Montserrat/Montserrat-Black.svg#Montserrat') format('svg'), url('/static/fonts/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
body {
  background: #FAFAFC;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  color: #111;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.41176471;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  position: relative;
  text-align: left;
}
a {
  color: #111;
  text-decoration: none;
}
a,
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
textarea {
  resize: none;
  vertical-align: middle;
}
img {
  border: 0;
}
small {
  font-size: 80%;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.disabled,
[disabled] {
  opacity: 0.55;
  pointer-events: none;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.home-masthead .home-masthead_logo {
  margin-top: 40px;
  text-align: center;
  font-size: 34px;
  color: #333;
}
.home-masthead .home-masthead_logo .home-masthead_logo_icon {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  background: url("../img/logo.png") no-repeat;
  background-size: 160px;
  position: relative;
  bottom: -20px;
}
.home-masthead .home-masthead_title h1 {
  font-size: 80px;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  margin: 50px 0;
}
.home-masthead .home-masthead_title h1 span {
  font-size: 62px;
  font-weight: 300;
  display: block;
}
.home-masthead .home-masthead_title h3 {
  color: #41B871;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}
.home-masthead .home-app_download {
  text-align: center;
}
.home-masthead .home-app_download .home-app_download_tip {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}
.home-masthead .home-app_download .home-app_download_ios,
.home-masthead .home-app_download .home-app_download_android {
  margin: 50px 20px;
  width: 170px;
  height: 58px;
  display: inline-block;
}
@media (max-width: 1200px) {
  .home-masthead .home-masthead_logo {
    font-size: 26px;
  }
  .home-masthead .home-masthead_logo .home-masthead_logo_icon {
    width: 140px;
    height: 140px;
    background-size: 140px;
  }
  .home-masthead .home-masthead_title h1 {
    font-size: 60px;
  }
  .home-masthead .home-masthead_title h1 span {
    font-size: 40px;
  }
  .home-masthead .home-masthead_title h3 {
    font-size: 20px;
  }
  .home-masthead .home-app_download .home-app_download_tip {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .home-masthead .home-masthead_title h1 {
    font-size: 50px;
  }
  .home-masthead .home-masthead_title h1 span {
    font-size: 30px;
  }
  .home-masthead .home-masthead_title h3 {
    font-size: 18px;
  }
  .home-masthead .home-app_download .home-app_download_tip {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .home-masthead .home-masthead_logo {
    font-size: 22px;
  }
  .home-masthead .home-masthead_logo .home-masthead_logo_icon {
    width: 100px;
    height: 100px;
    background-size: 100px;
    bottom: -10px;
  }
  .home-masthead .home-masthead_title h1 {
    font-size: 40px;
  }
  .home-masthead .home-masthead_title h1 span {
    font-size: 22px;
  }
  .home-masthead .home-masthead_title h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .home-masthead .home-app_download .home-app_download_tip {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .home-masthead .home-masthead_title h1 {
    font-size: 28px;
    margin: 30px 0;
  }
  .home-masthead .home-masthead_title h1 span {
    font-size: 20px;
  }
  .home-masthead .home-masthead_title h3 {
    font-size: 17px;
    margin-bottom: 30px;
  }
  .home-masthead .home-app_download .home-app_download_tip {
    padding-bottom: 20px;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .home-masthead .home-app_download .home-app_download_ios,
  .home-masthead .home-app_download .home-app_download_android {
    margin: 10px 20px;
  }
}
.home-banner {
  margin: 80px 0;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .home-banner {
    background: url("../img/home-banner.png?18354782375") 50% 50% no-repeat;
    background-size: 100%;
    height: 480px;
  }
}
@media (max-width: 1400px) {
  .home-banner {
    background: url("../img/home-banner.png?18354782375") 50% 50% no-repeat;
    background-size: 120%;
    height: 480px;
  }
}
@media (max-width: 1200px) {
  .home-banner {
    background: url("../img/home-banner.png?18354782375") 50% 50% no-repeat;
    background-size: 140%;
    height: 480px;
  }
}
@media (max-width: 992px) {
  .home-banner {
    height: 380px;
    margin: 40px 0;
  }
}
@media (max-width: 768px) {
  .home-banner {
    height: 280px;
  }
}
@media (max-width: 576px) {
  .home-banner {
    background: url("../img/home-banner.png?18354782375") 50% 50% no-repeat;
    background-size: 180%;
    height: 280px;
    margin: 0;
  }